$std-pad: 20px;

.navbar-brand:hover, .nav-link:hover{
  background: lightgrey;
}

header {
	color: darkgreen;
  padding: $std-pad;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

img {
  width: 100%;
  padding: $std-pad;
}

%textbox {
  padding: $std-pad;
  background: #e0e0e0;
}

.text-content {
  padding: $std-pad;
}

#news {
  @extend %textbox;

  li {
    font-weight: bold;
    color: darkgreen;
  }
}

.container {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .dso-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  table {
    width: 1000px - 2*$std-pad
  }
}

@media (max-width: 999px) {
  .grid, .dso-grid {
    display: grid;
    grid-template-columns: auto;
  }
  table {
    width: 100%
  }
}

.grid-item {
  padding: $std-pad;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: centered;
}

#dso-title {
  text-align: center;
}
#dso-about {
  font-size: 1.5em;
}